
#hero {
  height: 100vh;
  background: url('./assets/heroedit.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  h1 {
    font-size: 50px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: underline;
  }
  h2 {
    font-size: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: underline;
  }
}


#skills {
  height: 100vh;
  background: url('./assets/skills.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

h2 {
  color: white;
}
p {
  color: white;
  font-weight: bold;
}
  }

  #projects {
    height: 100vh;
    background: url('./assets/projectgold.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

  h2 {
    color: white;
  }
  p {
    color: white;
    font-weight: bold;
  }
    }

    .textBlur {
      display: inline-block;
      position: relative;
      transition: .3s;
    }

    .textBlur img {
      transition: .3s;
      border-radius: 4px;
    }


    .textBlur:hover img {
      filter: blur(5px) brightness(50%);
      box-shadow: 0 0 16px red;
    }

    .textBlur :not(img) {
      position: absolute;
      z-index: 1;
      top: 30%;
      width: 100%;
      text-align: left;
      color: #0000EE;
      opacity: 0;
      transition: .3s;
      text-decoration: underline;
    }

    .textBlur:hover :not(img) {
      opacity: 1;
    }

  .textBlur h3 {
  top: 60%
}

#contact {
  height: 65vh;
  background: url('./assets/contact.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

h2 {
  color: white;
}
p {
  color: white;
  font-weight: bold;
}
  }

footer.footer {
  height: 20px;

}

.footer {
  background-color: #BD9974;
  font-weight: bold;
  text-align: center;
}

nav.navbar {
  background-color: black;
}

a.navbar-item {
  color: white;
  font-weight: bold;
}

img.icon {
  height: 90px;
  width: 90px;
  top: 40px;
  bottom: 40px;
  position: relative;
}

a.contactlink {
  font-size: 30px;
  color: black;
  padding-left: 50px;
  text-decoration: underline;

}
