@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


#hero {
  height: 100vh;
  background: url('./assets/heroedit.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  h1 {
    font-size: 50px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-decoration: underline;
    text-decoration-color: red;
    font-family: 'Raleway', sans-serif;

  }
  h2 {
    font-size: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-decoration: underline;
    text-decoration-color: red;
    font-family: 'Raleway', sans-serif;
  }
}


#skills {
  height: 110vh;
  background-color: #D8C3A5;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

h2 {
  color: black;
  font-family: 'Raleway', sans-serif;
  text-decoration: underline;
  text-decoration-color: red;
}
p {
  color: black;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
  }

div.name {
  color: black;
  font-weight: bold;
  font-size: 15px;
}


  #projects {
    height: 160vh;
    background-color: #B1A296;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

  h2 {
    color: black;
    font-family: 'Raleway', sans-serif;
    text-decoration: underline;
    text-decoration-color: red;
  }
    }

    .textBlur {
      display: inline-block;
      position: relative;
      transition: .3s;
    }

    .textBlur img {
      transition: .3s;
      border-radius: 4px;
    }

    div.nameproject {
      font-weight: bold;
      text-align: center;
      color: black;
      border: 2px solid black;
      border-top-style: none;
      border-radius: 3px;

    p {
      margin: 5px;
      padding: 2px;

    }

    }

    .textBlur:hover img {
      filter: blur(5px) brightness(70%);
      box-shadow: 0 0 16px red;
    }

    .textBlur :not(img) {
      position: absolute;
      z-index: 1;
      top: 30%;
      width: 100%;
      text-align: left;
      color: red;
      opacity: 0;
      transition: .3s;
      text-decoration: underline;
    }

    .textBlur:hover :not(img) {
      opacity: 1;
    }

  .textBlur h3 {
  top: 60%
}

#contact {
  height: 70vh;
  background-color: #D8C3A5;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

h2 {
  color: black;
  font-family: 'Raleway', sans-serif;
  text-decoration: underline;
  text-decoration-color: red;
}
p {
  color: white;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
  }

footer.footer {
  height: 20px;
  font-family: 'Raleway', sans-serif;
}

.footer {
  background-color: #BD9974;
  font-weight: bold;
  text-align: center;
}

nav.navbar {
  background-color: black;
  font-family: 'Raleway', sans-serif;
}

a.navbar-item {
  color: red;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

img.icon {
  height: 90px;
  width: 90px;
  bottom: 10px;
  left: 410px;
  position: relative;
}

a.contactlink {
  position: relative;
  font-size: 30px;
  color: #0000EE;
  bottom: 50px;
  margin-left: 10px;
  left: 410px;
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
}

a:hover {
  color: red;
  background-color: black;
}


.techtitle {
  margin-top: 20px;
}
