
#hero {
  height: 100vh;
  background: url('./assets/heroedit.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  h1 {
    font-size: 50px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: underline;
  }
  h2 {
    font-size: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: underline;
  }
}



#skills {
  height: 100vh;
  background: url('./assets/skills.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

h2 {
  color: white;
}
p {
  color: white;
  font-weight: bold;
}
  }
